spring:
  application:
    name: bibliotecaPedroMJ

  profiles:
    active: test

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false
    mode: HTML
    encoding: UTF-8

  # Configuração PostgreSQL
  datasource:
    url: jdbc:postgresql://localhost:5432/biblioteca_db
    username: pedro
    password: senha123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  sql:
    init:
      mode: always

  mvc:
    static-path-pattern: /**

  web:
    resources:
      static-locations: classpath:/static/
      cache:
        period: 0

  security:
    oauth2:
      client:
        registration:
          google:
            client-id:  ${GOOGLE_CLIENT_ID}
            client-secret:  ${GOOGLE_CLIENT_SECRET}
            scope:
              - openid
              - profile
              - email

jwt:
  private:
    key: classpath:app.key
  public:
    key: classpath:app.pub

# Configuração MinIO (Custom)
minio:
  endpoint: http://localhost:9000
  access-key: minioadmin
  secret-key: minioadmin123
  bucket-name: livros

# ddl-auto: create-drop
# ddl-auto: none